body {
    gap: 40px;
}

main {
    max-width: 900px;
    height: 50%;
    display: flex;
    gap: 50px;
    border-radius: 30px;
    box-shadow: 0px 0px 90px -10px rgba(0,0,0,0.1);
}

.outputs-section {
    margin-top: 0;
    height: 100%;
    padding: 20px 35px 35px;
}

.outputs-container .output {
    margin-top: 40px;
}

.inputs-section .select-container div button{
    width: calc(33% - 9px);
}

#input-custom {
    width: calc(33% - 9px);
}